body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*header part*/

.header{
    display:flex;
    background-color: #000000;
    color: #fd6500;
    align-items: center;
    padding: 20px 0px 20px 100px;
}
.logo img{
    width: 84px;
    height: 84px;
    margin-right: auto;
}
.right-links{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}
.right-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*hero part*/
.main{
    display:flex;
    background-color: #000000;
    color: #f5f5f5;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.intro{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.intro p{
    font-size: 18px;
    opacity: 0.7;
}
.main button{
    Display:block;
    background: #fd6500;
    color: #000000;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}
.main-photo img{
    border: 4px solid #fd6500;
    border-radius: 15px;
}

/*main content*/
.content{
    align-items: center;
}
.content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.content-info img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #fd6500;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

/* Quotation Part */

.quote{
    display:flex;
    flex-direction: column;
    background-color: #252525;
    color: #f5f5f5;
    padding: 0 200px;
}
.quote p{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}
.quote b{
    padding-bottom: 20px;
    padding-right: 10px;
    text-align: right;
}
/*Call-to-Action button*/
.call-to-action{
    background-color: #fd6500;
    margin: 50px 400px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
}
.sign-item{
    flex:1;
}
.sign-text{
    text-align: left;
}
h3 {
    color: rgb(0, 0, 0);
    padding: 0;
    margin-top: 30px;
    margin-left: 50px;
}
.sign-text p{
    color: rgb(0, 0, 0);
    opacity: 0.7;
    margin: 5px 30px 30px 0px;
    font-size: 12px;
}
.sign-button button{
    color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
    background-color: #fd6500;
    padding: 5px 25px;
    font-size: 15px;
}

/*footer*/

footer{
    background-color: #000000;
    color: #f5f5f5;
}