body {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

/*header part*/

.header{
    display:flex;
    background-color: #000000;
    color: #fd6500;
    align-items: center;
    padding: 20px 0px 20px 100px;
}
.logo img{
    width: 84px;
    height: 84px;
    margin-right: auto;
}
.right-links{
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}
.right-links a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/*hero part*/
.main{
    display:flex;
    background-color: #000000;
    color: #f5f5f5;
    align-items: center;
    justify-content: center;
    padding: 90px;
}
.intro{
    flex-basis: 400px;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 50px;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.intro p{
    font-size: 18px;
    opacity: 0.7;
}
.main button{
    Display:block;
    background: #fd6500;
    color: #000000;
    border: none;
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}